.selectBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    color: #808080;
  }

  .list {
    display: flex;
    flex-wrap: wrap;

    &>* {
      margin: 5px;
    }
  }
}