.radioButton {
  // width: fit-content;
  height: 1.813em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding: 5px;
  background-color: #00000000;
  border-radius: 5px;
  height: 1.813em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  display: none;
}

.radio:checked ~ label {
  background: #FDBC11;
}
