.main {
  width: 100%;
  height: 100%;
  padding: 0 5.125em;
  font-family: Prompt;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .items {
      display: flex;
      flex-direction: column;
      width: 64%;

      &>* {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
      }
    }

    .FilterPanel {
      width: 25.75em;
    }
  }
}