.loginPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 428px) {
  .loginPage {
    padding: 0 1.5em;
  }
}
