.managePanel {
  padding: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #F2F2F2;
  font-family: inherit;

  &>* {
    margin-bottom: 2em;
  }

  .SortPanel {
    width: 14.688em;
  }

  .panelBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .gamesAmount {
      color: #808080;
    }

    .ActionButton {
      width: 7.5em;
    }
  }
}