.coverLarge {
  height: 191px;
  width: 268px;
  border-radius: 8px;
}

.cover {
  height: 141px;
  width: 196px;
  border-radius: 8px;
}

@media screen and (max-width: 428px) {
  .cover {
    height: 130px;
    width: 180px;
  }
}

